extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Ubicación
          li.nav-item
            a.nav-link.js-scroll-trigger(href='../bicicletas') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  header.bg-primary.text-white
    .container.text-center
      h1 Red de Bicicletas
      p.lead Una comunidad de Ciclistas en la ciudad
  section#about
    .container
      .row
        .col-lg-8.mx-auto
          h2 Nosotros
          p.lead
            | Esta es una página de una red de ciclistas en Buenos Aires. Este es un proyecto para el curso de Desarrollo del lado servidor: NodeJS, Express y MongoDB.      
  section#services.bg-light
    .container
      .row
        .col-lg-8.mx-auto
          h2 Ubicación
          #mapid
  section#contact
    .container
      .row
        .col-lg-8.mx-auto
          h2 Contacto
          p.lead
            | En esta sección se encontrará los medios de contacto. Incluyendo un formulario para comentarios.
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Jonathan Fox 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='javascripts/jquery.min.js')
  script(src='javascripts/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='javascripts/jquery.easing.min.js')
  // Custom JavaScript for this theme
  script(src='javascripts/scrolling-nav.js')
  script(src='javascripts/maps.js')