extends ../layout

block content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
            a.navbar-brand.js-scroll-trigger(href='#page-top') Red de Bicicletas
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/bicicletas/create') Nuevo
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/') Atrás
    section#Bicicletas
        .container
        .row
            .col-lg-8.mx-auto
                table.table
                    thead
                        tr
                        th(scope='col') #
                        th(scope='col') Color
                        th(scope='col') Modelo
                        th(scope='col') Ubicación
                        th(scope='col') 
                    tbody
                        each bici in bicis
                            tr
                            td(scope='row')= bici.code
                            td(scope='row')= bici.color
                            td(scope='row')= bici.modelo
                            td(scope='row')= bici.ubicacion
                            td(scope='row')
                                a(href=`/bicicletas/${bici.code}/update`) Editar
                            td(scope='row')
                                form.inline(method='post' action='/bicicletas/' + bici.code + '/delete')
                                    input(type='hidden' name='id' value=bici.code)
                                    button.btn-danger(type='submit' value='submit_value' name='submit_param' class='btn') Eliminar
