extends ../layout

block content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
            a.navbar-brand.js-scroll-trigger(href='#page-top') Red de Bicicletas | Actualizar Bicicleta
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/bicicletas') Atrás
    section#Bicicletas
        .container
            .row
                .col-lg-12.mx-auto
                    form(action=`/bicicletas/${bici.id}/update` method='post')
                        .row
                            label.col-sm(for='id') ID
                            label.col-sm(for='color') Color
                            label.col-sm(for='modelo') Modelo
                            label.col-sm(for='lat') Latitud
                            label.col-sm(for='lng') Longitud
                        .row
                            input.col-sm(type='number' name='id' value=bici.id)
                            input.col-sm(type='text' name='color' value=bici.color)
                            input.col-sm(type='text' name='modelo' value=bici.modelo)
                            input.col-sm(type='text' name='lat' value=bici.ubicacion[0])                    
                            input.col-sm(type='text' name='lng' value=bici.ubicacion[1])
                        input.mt-2(type='submit' value='Actualizar')